[core]
  excludesfile = ~/.dotfiles/.gitignore
  trustctime = false
  autocrlf = input

[include]
  path = ~/.dotfiles/exports/work.gitconfig

[includeIf "hasconfig:remote.*.url:git@gitlab.com:torosegon/**"]
  path = ~/.dotfiles/exports/gitlab.gitconfig

[includeIf "hasconfig:remote.*.url:git@github.com:torosegon/**"]
  path = ~/.dotfiles/exports/github.gitconfig

[init]
  defaultbranch = main

[push]
  default = current

[pull]
  rebase = true

[fetch]
  prune = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[alias]
  graph = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s%n' --graph --name-status
  commits = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=iso
  sync = !legit sync
  publish = !legit publish
  unpublish = !legit unpublish
  undo = !legit undo
  branches = !legit branches

[color]
  pager = true
  ui = auto
  status = auto
  diff = auto
  branch = auto
  showBranch = auto
  interactive = auto
  grep = auto
[color "status"]
  header = black bold
  branch = cyan
  nobranch = red
  unmerged = red
  untracked = cyan
  added = cyan
  changed = red
[color "diff"]
  meta = red bold
  frag = black bold
  func = blue
  old = red strike
  new = cyan
  commit = blue
  whitespace = red
  context = normal
[color "branch"]
  current = cyan
  local = blue
  remote = magenta
  upstream = magenta
  plain = normal
[color "decorate"]
  branch = blue
  remoteBranch = magenta
  tag = magenta
  stash = cyan
  HEAD = blue
[color "interactive"]
  prompt = red
  header = red bold
  error = red
  help = black bold
[color "grep"]
  context = normal
  match = cyan
  filename = blue
  function = blue
  selected = normal
  separator = red bold
  linenumber = normal
